<table class="table table-borderless">

  <thead>
    <tr>
      <th scope="col">Playlist Name</th>
      <th scope="col"># of Clicks</th>
      <th scope="col">Category</th>
      
    </tr>
  </thead>

  <tbody>
    <% playlists.each do |playlist| %>
      <tr>
        <th scope="row">
           <%= playlist.playlist_name %> 
        </th>

        <td class="text-center"> <%= playlist.amount_of_listens %> </td>

        <td> 
          <% playlist.category.each do |category| %>
            <div class="d-inline category rounded-5">
              <%= category %>
            </div>
          <% end %>
        </td>

        <td> <%= link_to "Edit", "/playlists/#{playlist.id}/edit", {class: "button p-2 rounded-5"} %> </td>

        <td> <%= link_to "Delete", "/playlists/#{playlist.id}/delete", {class: "button p-2 rounded-5"} %> </td>

      </tr>
    <% end %>
  </tbody>

</table>
