<table class="table table-borderless">

  <tbody class="playlist-table-body">

    <tr>
      <th scope="col">Playlist Name</th>
      <th scope="col">Username</th>
      <th class="text-center" scope="col"># of Clicks</th>
      <th scope="col">Category</th>
    </tr>

    <% playlists.each do |playlist| %>
      <tr>
        <th class="playlist-th" scope="row"> <a href="/playlists/<%= playlist.id %>/info"> <%= playlist.playlist_name %> </a> </th>

        <td>
          <%= Account.find(playlist.account_id).username %>
        </td>

        <td class="text-center"> <%= playlist.amount_of_listens %> </td>

        <td> 
          <% playlist.category.each do |category| %>
            <div class="d-inline category rounded-5">
              <%= category %>
            </div>
          <% end %>
        </td>
        
      </tr>
    <% end %>
  </tbody>

</table>