<div class="container-fluid">
  <div class="container mx-auto mb-4">

    <div class="row mt-4">

      <div class="col">
        <div class="montserrat-h1"> <%= @playlist.playlist_name %> </div>
        <div class="montserrat-h2"> Made by: <%= @username %> </div>
      </div>
      <div class="col d-flex justify-content-end">
        <a href="/"><%= image_tag("sharerify.png", :alt => "Sharerify", class: "logo-small") %></a>
      </div>

    </div>

    <div class="row my-2">
      <h5 class="montserrat"># of Clicks: <%= @playlist.amount_of_listens %> </h5>
    </div>

    <div class="row">
      <div class="col">
        <h5 class="montserrat">Categories</h5>
        <% @categories.each do |category| %>
          <div class="d-inline-block category px-3 rounded-5"> <%= category %> </div>
        <% end %>
      </div>

      <div class="col d-flex justify-content-end montserrat-h2">
        Interested? Check it out on 
        <%= form_with model: @playlist, url: "/add_click/#{@playlist.id}", method: :post do |form| %> 
          <%= form.hidden_field :id, value: @playlist.id %>
          <%= form.submit "Spotify.", {class: "link rounded-5"} %>
        <% end %>
      </div>
    </div>

  </div>
  
  <div class="container">
    <div class="widget rounded-5">
      <%= render 'song', songs: @songs %>
    </div>
  </div>
</div>